.card {
    background-color: transparent;
    border: 0 transparent;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    margin: auto;
    min-width: 12rem;
    max-width: 18rem;

}

.card-body {
    padding: 0;
    color: white;

}

.card-img-top {
    border-radius: 0;
    margin-bottom: 5px;
    max-height: 145px;
}

.card-text{
    margin-bottom: 5px;
}

.released-text{
    margin-top: 5px;
    color: #D1D5DA;
    font-weight: 400;
    position: relative;
}