@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
  font-family: 'Roboto';
  background-color: #181818;
  font-weight: 400;
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
